// Variable colors for restaurant project.

// Theme colors based on UI flat theme
// https://color.adobe.com/Flat-UI-color-theme-2469224/
$pickled-bluewood: #2c3e50;
$cinnabar: #ff6657;
$porcelian: #ecf0f1;
$marriner: #2980b9;
$curious-blue: #3498db;


$cod-gray: #0D0D0D;
$mine-shaft: #1f1f1f;

$font-family: 'Roboto', sans-serif;
